{% extends 'base.html.twig' %}

{% block body %}

<div class="div-main-actu">
<div class="div-left-actu">
 <div class="main-div div-fil-arianne">
    <p class="fil-arianne">
        <a href="{{ path('accueil') }}">Acceuil</a> /
        <a href="{{ path('actualites') }}">Actualités</a> /
        <a style="font-weight:700" href="#">{{obj.titre}}</a>
        </p>
</div>
    <div class="div-title-actu">
        <h1 class="title-actu">{{obj.titre}}</h1>
        <p class="publication-actu"><span class="span-publi">PUBLIÉ LE</span><span> {{obj.datepublication|date('Y-m-d')}}</span></p>
    </div>
    <div class="div-img-actu">
        <img class="img-actu" src="/assets/images/upload/{{ obj.image }}"/>
    </div>
    <div class="div-text-actu">
        <p class="text-actu">
        {{ obj.text}}
        </div>
     <div class="div-pdf-actu">
    <a class="pdf-actu" href="{{obj.pdf}}"><img class="img-pdf-actu" src="{{ asset('assets/img/picto_pdf.svg') }}" />Télécharger notre Lorem ipsum</a>
    </div>
     <div class="div-share-actu">
      
        <p class="share-actu">Partager cet article</p>
        <div class="div-hover-share-actu">
        <div class="hover-share-actu">
            <img class="first-img-hover-share-actu img-hover-share-actu" src="{{ asset('assets/img/facebook.svg') }}"/>
            <img class="img-hover-share-actu" src="{{ asset('assets/img/linkedin.svg') }}"/>
            <img class="img-hover-share-actu" src="{{ asset('assets/img/twitter.svg') }}"/>
        </div>
        <img class="img-share-actu" src="{{ asset('assets/img/Nos_projets_single/button_share.svg') }}" />
        </div>
       
    </div>
</div>
</div>
<div class="div-right-actu">
    <div class="div-ajout-actu">
        <h1 class="title-new-actu">Actualités <br/>récentes</h1>
        {% for item in objall  %}
        <div class="div-new-actu">
            <p class="p-new-actu">{{  item.titre  }}</p>
            <p class="date-new-actu">{{item.datepublication|date('Y-m-d')}}</p>
        </div>
        {% endfor %}
     
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>



  <div class="slider-actu">

  {% for image in obj.images %}
    <div><img src="/assets/images/upload/{{ image }}" }</div>
    {% endfor %}




  </div>

</div>

<script type="text/javascript">
    $('.slider').slick({
        dots: false,
        vertical: false,
        infinite: true,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplay: true,
        autoplaySpeed: 2000,
    });

</script>
</div>
{% endblock %}