{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block body %}
<div class="actu-div">
    <div class="main-div">
        <div class="main-div main-title-page actu-title-div">
           <h1> Actualités </h1>
        </div>
          <div class="div-elmt-projet-1">         
            <img class="elmt-projet-1" src="/assets/img/element_graphic_actu.svg"/>
        </div>
    </div>
    <div class="main-div">
    
    {%  for obj in list %}
    <a href="{{ path('actualite', {id : obj.id  }) }}">
        <div class="card-actu project-card border-2px-chambray" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/images/upload/{{ obj.image }}">
                </div>
                <div class="slide-txt">
                    <div class="slide-txt-1" >{% if obj.titre|length > 50 %} {{ obj.titre | slice(0, 50) }}...  {% else %} {{ obj.titre}} {% endif %}</div>
                    <div class="cat-slide-txt">{{ obj.datepublication |date('Y-m-d') }}</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
        </a>
        {% endfor %}
      
    
       
       
    </div>
    </div>
{% endblock %}