{% extends 'base.html.twig' %}

{% block body %}
<div class="a-propos-div">
    <div class="main-div">
        <div class="main-div main-title-page slide-in-right mt-80">
            À propos
        </div>
        <div >
            <p class="propos-text-1"><span class="propos-weight">Créée en 1988, HBH est aujourd'hui une société leader en management de projets
             et en sécurité et santé dans le secteur de la construction, qui est totalement
             indépendante des entreprises.</span></p>
        </div>
        <div  >
           <p class="propos-text-1"> Forte d'une équipe de collaborateurs expérimentés en bâtiment, principalement
             ingénieurs et architectes, HBH offre un large choix de services et propose des
             solutions adaptées pour accompagner tout Maître d'Ouvrage, public ou privé au
             cours de ses projets de construction. HBH est certifiée ISO 9001 depuis le
             16 décembre 1997.</p>
        </div>
    </div>
</div>
<div class="div-elmt-propos-1"><img class="elmt-propos-1 " src="assets/img/A_propos/img_a_propos.png"></div>

<div class="div-elmt-propos-2"><img class="elmt-propos-2" src="assets/img/A_propos/element-graphic15.svg"></div>
<div class="div-elmt-propos-3"><img class="elmt-propos-3" src="assets/img/A_propos/element-graphic16.svg"></div>
<div class="div-elmt-propos-4"><img class="elmt-propos-4" src="assets/img/A_propos/element-graphic17.svg"></div>
        <div class="presentation-txt">
            <div class="main-div presentation-title main-title-div" style="color: #103182">
                Une équipe soudée, multidisciplinaire, organisée, stable...
            </div>
            <div class="main-div p-pres" >
                Une équipe composée de plus d'une vingtaine de professionnels de la construction, 
                est votre partenaire dans la réussite de vos projet selon le type "matriciel fort",
                 afin d'assurer la continuité du suivi de projets en fonction des aléas de la vie.<br>
                <span>Lire plus...</span>
            </div>
        </div>
    </div>

    <div class="container-team">
        <div class="main-div main-title-div teams-title">
            Notre équipe
        </div>
        <div class="teams">
        {%  for team in list %}
            <div class="man">
                <div class="img-man">
                    <img style="width:100%" src="/assets/images/upload/{{team.imageprofil}}">
                </div>
                <div class="man-txt">
                    <h3 class="name-man">{{team.prenom}}{{team.nom}}</h3>
                    <p class="worker-man">{{team.poste}}</p>
                    <p class="mail-man"><span class="icon-team"><i class="far fa-envelope"></i></span>{{team.email}}</p>
                    <p class="tel-man"><span class="icon-team"><i class="fas fa-phone-alt"></i></span>{{team.tel}}</p>
                </div>
            </div>
        {% endfor %}
        
            
        </div>
        <div class="main-div">
         <div class="slider-teams">
         {%  for team in list %}
         <div class="man">
                <div class="img-man">
                    <img style="width:100%" src="/assets/images/upload/{{team.imageprofil}}">
                </div>
                <div class="man-txt">
                    <h3 class="name-man">{{team.prenom}}{{team.nom}}</h3>
                    <p class="worker-man">{{team.poste}}</p>
                    <p class="mail-man"><span class="icon-team"><i class="far fa-envelope"></i></span>{{team.email}}</p>
                    <p class="tel-man"><span class="icon-team"><i class="fas fa-phone-alt"></i></span>{{team.tel}}</p>
                </div>
            </div>
              {% endfor %}
          
       
    
              </div> 
             
    </div>
        </div>
    </div>
 
        <script type="text/javascript">
                $('.slider-teams').slick({
                    dots: false,
                    vertical: false,
                    infinite: true,
                    speed: 500,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: false,
                    autoplaySpeed: 2000,
                    arrows: false,
                });
            </script>
        <div class="div-btn-team" style=" width:100%;text-align: center">
            <a href=""><button class="btn-team montserrat-medium-white-16px" style="background-color: #103182;color: white"><span>DÉCOUVRIR TOUTE L'ÉQUIPE<span></button></a>
        </div>
    </div>
    <div class="div-elmt-propos-5"></div>
    <div class="main-div philo-div" style="color: white; background-color: #102242">
        <div class="container-philo">
        <div class="main-div main-title-div title-philo">
            Notre philosophie
        </div>
        <div>

            <p class="txt-philo">Pour faire face à un environnement se complexifiant et à une évolution permanente des marchés, HBH a évolué
             vers un concept d'entreprise agile.</p>
        </div>
        <div class="schema-philo">
            <img class="img-schema" src="assets/img/A_propos/schema_notre_philosophie.png">
            <div class="txt-schema-philo-1 schema-txt">- Réduction des hiérarchies<br/>- Organisation matricielle par projet<br/>- Pro activité/Réactivité<br/>- Méthodesde travail (procédures)</div>
            <div class="txt-schema-philo-2 schema-txt"> - Recrutement de qualités humaines<br/>- Diversification des parcours<br/>- Alternance terrain et fonctionnel<br/>-Formation continue<br/>- Disponibilté</div>
            <div class="txt-schema-philo-3 schema-txt"> - Innovation<br/>- Utilisation des nouvelles&nbsp;&nbsp; <br/>&nbsp;&nbsp; technologies de l’information et<br/>&nbsp;&nbsp; de la communication<br/>- Traitement de l’information</div>
        </div>
        </div>
    </div>
{% endblock %}