{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block body %}
<div class="proj-div">
    <div class="main-div">
        <div class="main-title-page">
            Nos projets
        </div>
        <div class="div-elmt-projet-1">         
            <img class="elmt-projet-1" src="/assets/img/Nos_projets/element-graphic13.svg"/>
        </div>
        <div class="main-div" style="color: #24a6a4">
            <div class="key-proj filtre-proj" id="Management" >
                MANAGEMENT DE PROJET
            </div>
            <div class="key-proj filtre-proj" id="Sécurité">
                SÉCURITÉ & SANTÉ
            </div>
            <div class="key-proj">
              
            </div>
             <div class="key-proj">
            
            </div>
            <div class="projets-nb key-proj" >
                {{nb}} PROJETS
            </div>
        </div>
        <div class="main-div projets-div">
           {%  for obj in list %}
        <a href="{{ path('projet', {id : obj.id  }) }}" >
            <div class="card-actu project-card border-2px-teal-blue filtre-all filtre-{{ obj.typeservice }}"  style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/images/upload/{{ obj.image }}">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">{{ obj.typeservice }}</div>
                    
                    <div class="slide-txt-1">{% if obj.titre|length > 35 %} {{ obj.titre | slice(0, 35) }}...  {% else %} {{ obj.titre}} {% endif %} </div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                </div>
        </div></a>
           {% endfor %}
        </div>
    </div>
</div>

    <div class="info-projet-div" >
    <div class="div-elmt-projet-2">
        <img class="elmt-projet-2" src="/assets/img/Nos_projets/menons_a_bien_vos_projets.png"/>
    </div>
        <div class="info-projet">
            <div class="div-info">
        <div class="main-title-div" style="color: white">
            <h1 class="title-info-projet">Ensemble, menons à bien vos projets</h1>
        </div>
        <div class="div-btn-info">
            <a href="{{ path('services') }}"><button class="btn-info-service" style="color: #103182;background-color: white;"><span>NOS SERVICES</span></button></a>
            <a href="{{ path('contact') }}"><button class="btn-info-contact" style="color: white;background-color: #103182;border: 1px solid #24a6a4"><span>CONTACTEZ-NOUS</span></button></a>
        </div>
        </div>
    </div>
    </div>
{% endblock %}