{% extends 'base.html.twig' %}

{% block body %}

<div class="div-main-actu main-div">
    
<div class="div-left-proj">
    <div class="main-div div-fil-arianne">
    <p class="fil-arianne">
        <a href="{{ path('accueil') }}">Accueil</a> /
        <a href="{{ path('projets') }}">Projets</a> /
        {% if obj.typeservice == "Management de projet" %}
        <a href="{{ path('services_management_projet') }}">{{obj.typeservice}}</a> /
        {% else %}
        <a href="{{ path('services_securite_sante') }}">{{obj.typeservice}}</a> /
        {% endif %}
        <a style="font-weight:700" href="#">{{obj.titre}}</a>
        </p>
    </div>
    <div class="div-title-actu">
        <h1 class="title-actu">{{obj.titre}}</h1>
        <p class="publication-actu"><span class="span-publi">PUBLIÉ LE</span><span> {{obj.datepublication|date('Y-m-d')}}</span></p>
    </div>
    <div class="div-img-actu">
        <img class="img-actu" src="/assets/images/upload/{{ obj.image }}"/>
    </div>
    <div class="div-right-proj">
    <div class="div-info-proj">
        <h1 class="title-new-actu margin-info-proj" >Informations du projet</h1>
        <p class="p-info-proj">Maître d’ouvrage : <span class="span-info-proj">{{obj.maitreouvrage}}</span></p>
        <p class="p-info-proj">Type de marché : <span class="span-info-proj">{{obj.typemarche}}</span></p>
        <p class="p-info-proj">Budget : <span class="span-info-proj">{{obj.budget}}</span></p>
        <p class="p-info-proj">Architecte : <span class="span-info-proj">{{obj.architecte}}</span></p>
        <p class="p-info-proj">Délai : <span class="span-info-proj">{{obj.delais}}</span></p>
        <p class="p-info-proj">Fin des travaux : <span class="span-info-proj">{{obj.fintravaux}}</span></p>
        <!--<div class="div-img-share-actu">
          <div class="hover-share-proj" style="display:none">
            <a title="send to Facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]={{obj.titre}}&p[summary]={{obj.text1}}&p[url]={{ path('projet', {id : obj.id  }) }}&p[images][0]=/assets/images/upload/{{ obj.image }}" target="_blank"><img class=" first-img-hover-share-actu img-hover-share-actu"    src="{{ asset('assets/img/facebook.svg') }}"/></a>
            <a href="https://www.linkedin.com/uas/login?session_redirect={{ app.request.uri }}"><img class="img-hover-share-actu" src="{{ asset('assets/img/linkedin.svg') }}"/></a>
            <a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}"><img class="img-hover-share-actu" src="{{ asset('assets/img/twitter.svg') }}"/></a>
        </div>
        <img class="img-share-actu img-share-actu-projet" src="{{ asset('assets/img/Nos_projets_single/button_share.svg') }}" />
           --> <div class="btn_wrap">
                <span class="span-share">Share</span>
                <div class="container">
                    <a title="send to Facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]={{obj.titre}}&p[summary]={{obj.text1}}&p[url]={{ path('projet', {id : obj.id  }) }}&p[images][0]=/assets/images/upload/{{ obj.image }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/uas/login?session_redirect={{ app.request.uri }}"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="div-text-actu no-mob">
    <div >
        <h1 class="title-actu-text">{{obj.titre1}}</h1>
        <p class="text-actu">{{obj.text1}}</p>
    </div>
    <div class="text-para">
        <h1 class="title-actu-text">{{obj.titre2}}</h1>
        <p class="text-actu">{{obj.text2}}</p>
    </div>
</div>
 
</div>


     <div class="div-text-actu no-desktop">
    <div >
        <h1 class="title-actu-text">{{obj.titre1}}</h1>
        <p class="text-actu">{{obj.text1}}</p>
    </div>
    <div class="text-para">
        <h1 class="title-actu-text">{{obj.titre2}}</h1>
        <p class="text-actu">{{obj.text2}}</p>
    </div>
</div>

</div>
</div>
    {% if obj.images|length > 0 %}
<div class="slider-container">
    <div class="div-title-slider">
        <img class="img-photo-proj" src="{{ asset('assets/img/Nos_projets_single/picto_photo.svg') }}"/>
        <h1 class="slider-title">Le projet en image</h1>
    </div>

<div class="slick-carou-1">
    {% for image in obj.images %}
    <div><img src="/assets/images/upload/{{ image }}" }</div>
    {% endfor %}
</div>

</div>
{% endif %}
<div class="slider-container" style="display:none">
    <div class="div-title-slider">
        <h1 class="slider-title">Retour d'experience</h1>
    </div>
<div class="slick-carou-2">
  <div class="slide-com">
    <p class="date-slide-com">12.01.2017</p>
    <h1 class="title-slide-com">« Projet rondement bien mené.
Le management de projet est maîtrisé
d’une main de maître. »</h1>
<p class="author-slide-com">Lorem Ipsum, DG BNP Paribas Kirchberg</p>
  </div>
  <div class="slide-com">
   <p class="date-slide-com">12.01.2017</p>
    <h1 class="title-slide-com">« Projet rondement bien mené.
Le management de projet est maîtrisé
d’une main de maître. »</h1>
<p class="author-slide-com">Lorem Ipsum, DG BNP Paribas Kirchberg</p>
  </div>
  <div class="slide-com">
   <p class="date-slide-com">12.01.2017</p>
    <h1 class="title-slide-com">« Projet rondement bien mené.
Le management de projet est maîtrisé
d’une main de maître. »</h1>
<p class="author-slide-com">Lorem Ipsum, DG BNP Paribas Kirchberg</p>
  </div>
</div>
</div>
<div class="section-big-stone">
<div class="elmt-projet-simple-1"></div>
    <div
        class="main-div div-proj div-project">
        <div >
            <div class="main-title-page">
                <h1 class="montserrat-bold-white-50px title-feature">Ces projets peuvent vous intéresser</h1>
            </div>
           

            <div class="slider-project slider-proj">
            {%  for object in objall %}
            <a href="{{ path('projet', {id : object.id  }) }}">
                <div class="slide slide-proj proj-float " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/images/upload/{{ object.image }}">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">{{ object.typeservice }}</div>
                        <div class="slide-txt-1">{{ object.titre }}</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                </a>
            {% endfor %}
                
          
            
      
            </div>

        

            
        </div>
    </div>
           
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.slick-carou-1').slick({
        arrows: false,
      });
        $('.slick-carou-2').slick({
        arrows: false,
      });
    });
  </script>
{% endblock %}