{% extends 'base.html.twig' %}

{% block body %}
<div class="div-main-actu main-div">
<div class="div-left-proj">
    <div class="div-title-actu">
        <h1 class="title-actu">{{obj.titre}}</h1>
        <p class="publication-actu"><span class="span-publi">PUBLIÉ LE</span><span> {{obj.datepublication}}</span></p>
    </div>
    <div class="div-img-actu">
        <img class="img-actu" src="/assets/images/upload/{{ obj.image }}"/>
    </div>
    <div class="div-text-actu">
    <div >
        <h1 class="title-actu-text">{{obj.titre1}}</h1>
        <p class="text-actu">{{obj.text1}}</p>
</div>
    <div class="text-para">
        <h1 class="title-actu-text">{{obj.titre2}}</h1>
        <p class="text-actu">{{obj.text2}}</p>
</div>
</div>
 
</div>

<div class="div-right-proj">
    <div class="div-info-proj">
        <h1 class="title-new-actu margin-info-proj" >Informations du projet</h1>
        <p class="p-info-proj">Maître d’ouvrage : <span class="span-info-proj">{{obj.maitreouvrage}}</span></p>
        <p class="p-info-proj">Type de marché : <span class="span-info-proj">{{obj.typemarche}}</span></p>
        <p class="p-info-proj">Budget : <span class="span-info-proj">{{obj.budget}}</span></p>
        <p class="p-info-proj">Architecte : <span class="span-info-proj">{{obj.architecte}}</span></p>
        <p class="p-info-proj">Délai : <span class="span-info-proj">{{obj.delais}}</span></p>
        <p class="p-info-proj">Fin des travaux : <span class="span-info-proj">{{obj.fintravaux}}</span></p>
        <div class="div-img-share-actu">
        <img class="img-share-actu" src="{{ asset('assets/img/Nos_projets_single/button_share.svg') }}" />
        </div>
    </div>

</div>
</div>
<div class="slider-container">
    <div class="div-title-slider">
        <img class="img-photo-proj" src="{{ asset('assets/img/Nos_projets_single/picto_photo.svg') }}"/>
        <h1 class="slider-title">Le projet en image</h1>
    </div>
<div class="slick-carou-1">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>
</div>
<div class="slider-container">
    <div class="div-title-slider">
        <h1 class="slider-title">Retour d'experience</h1>
    </div>
<div class="slick-carou-2">
  <div class="slide-com">
    <p class="date-slide-com">12.01.2017</p>
    <h1 class="title-slide-com">« Projet rondement bien mené.
Le management de projet est maîtrisé
d’une main de maître. »</h1>
<p class="author-slide-com">Lorem Ipsum, DG BNP Paribas Kirchberg</p>
  </div>
  <div class="slide-com">
   <p class="date-slide-com">12.01.2017</p>
    <h1 class="title-slide-com">« Projet rondement bien mené.
Le management de projet est maîtrisé
d’une main de maître. »</h1>
<p class="author-slide-com">Lorem Ipsum, DG BNP Paribas Kirchberg</p>
  </div>
  <div class="slide-com">
   <p class="date-slide-com">12.01.2017</p>
    <h1 class="title-slide-com">« Projet rondement bien mené.
Le management de projet est maîtrisé
d’une main de maître. »</h1>
<p class="author-slide-com">Lorem Ipsum, DG BNP Paribas Kirchberg</p>
  </div>
</div>
</div>
<div class="section-big-stone">
<div class="elmt-projet-simple-1"></div>
    <div
        class="main-div div-proj div-project">
        <div >
            <div class="main-title-page">
                <h1 class="montserrat-bold-white-50px">Ces projets vous intéresserons</h1>
            </div>
           

            <div class="slider-project slider-proj">
            {%  for obj in objall %}
            <a href="{{ path('projet', {id : obj.id  }) }}">
                <div class="slide slide-proj proj-float " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/images/upload/{{ obj.image }}">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">{{ obj.titre }}</div>
                        <div class="slide-txt-1">{{ obj.text1 }}</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                </a>
            {% endfor %}
                
          
            
      
            </div>

        

            
        </div>
    </div>
           
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.slick-carou-1').slick({
        
      });
        $('.slick-carou-2').slick({
        
      });
    });
  </script>
{% endblock %}