{% extends 'base.html.twig' %}
{% block body %}
 <div class="main-div" style="height:  660pxpx;">
        <div class="main-div" style="width: 30%">
        <div class="service-man-img" style="background-image: url(assets/img/Services_management_de_projet/Fond_page_service1.png);">
            <img class="img-home-main"
                style="width:100%;";
                src="{{ asset('assets/img/Services_management_de_projet/management_de_projet_2.png') }}">
                </div>
        </div>
             <div class="div-elmt-service-m-2 div-elmt">
            <img class="elmt-service-m-2" src="{{ asset('assets/img/Services_management_de_projet/maitrise_ouvrage_deleguee.png') }}" />
        </div>
              <div class="div-elmt-service-m-1 div-elmt">
            <img class="elmt-service-m-1" src="{{ asset('assets/img/Services_management_de_projet/element-graphic4.svg') }}" />
        </div>
           
        <div class="div-service">
            <div class="service-service-title-div">
                <p class="service-service-title">NOS SERVICES</p>
            </div>
            <div class="service-title-div">
                <h1 class="service-title">Management <br/>de projet</h1>
            </div>
            <div class="service-text-div">
                <p class="service-text">Forte de son expérience de terrain, d’équipes compétentes et pluridisciplinaires et de son expertise, HBH répond aux
  besoins de ses clients, exclusivement Maîtres d’Ouvrage publics ou privés et bureaux d’études, en proposant ses
  services de maîtrise d’ouvrage déléguée, de pilotage, d’assistance au Maître d’Ouvrage et de maîtrise des quantités et
  de la qualité pour tous projets de construction en bâtiment.</p>
            </div>
            <div class="service-key-div">
                <p class="service-key" id="div-ouvrage">Maîtrise d’ouvrage déléguée</p>
                <p class="service-key" id="div-a-pilo">Pilotage</p>
                <p class="service-key" id="container-ouvrage">Assistance au Maître d’Ouvrage</p>
                <p class="service-key" id="div-matrise">Maîtrise des quantités et de la qualité</p>
            </div>
        
        
        </div>
        </div>
  
        <div class="div-ouvrage">
            <div class="title-ouvrage-div">
                <h1 class="title-ouvrage">Maîtrise d’ouvrage <br/>déléguée</h1>
            </div>
            <div class="intro-ouvrage-div">
                <p class="intro-ouvrage">HBH se substitue au Maître d’Ouvrage, duquel elle reçoit une partie de ses pouvoirs pour le représenter.</p>
            </div>
            <div class="text-ouvrage-div">
                <p class="text-ouvrage">Vu son savoir-faire, HBH se substitue à l’égard de tous les autres acteurs du projet, au Maître d’Ouvrage
    duquel elle reçoit une partie de ses pouvoirs pour le représenter, engager les dépenses décidées et assurer une
    partie de ses responsabilités.</p>
            </div>
        
        
        </div>
    </div>
    <div class="div-mission">
        <div class="div-mission-container">
            <h1 class="mission-title"> Sa mission</h1>
            <div class="mission-list-div">
                <ul class="mission-list">
                    <li class="li-mission">Remplir toutes les obligations légales et contractuelles du Maître d’Ouvrage.</li>
                    <li class="li-mission">Constituer l’équipe de conception et participer aux choix des entreprises.</li>
                    <li class="li-mission">Veiller au respect des budgets et délais fixés.</li>
                    <li class="li-mission">Prendre les décisions et régler les problèmes dans le cadre du programme défini par le Maître d’Ouvrage.</li>
                    <li class="li-mission">Faire un reporting régulier au Maître d’Ouvrage et le solliciter pour tout fait hors programme défini.</li>
                </ul>
            
            </div>
        </div>


    </div>
       
              <div class="div-elmt-service-m-4 div-elmt">
            <img class="elmt-service-m-4 div-a-pilo slide-in-right" src="{{ asset('assets/img/Services_management_de_projet/element-graphic5.svg') }}" />
        </div>
    <div class="div-pilotage ">
   
        <div class="div-pilotage-title ">
            <h1 class="pilotage-title">Pilotage </h1>
        </div>
        <div class="div-pilotage-text">
            <div class="pilotage-text">
                <p class="pilotage-text-intro ">
                        Le pilotage comprend différents volets comme la coordination des études et des travaux, la planification et la
                        gestion financière.
                
               
                <p class="pilotage-text-span">
                    On entend par pilotage la mission complète d’organisation et de gestion des projets de
                    construction.&nbsp;&nbsp;Elle en est l’élément incontournable et central, du fait de l’accroissement constant des
                    contraintes auxquelles les Maîtres d’Ouvrage doivent faire face.<br />Lire plus…
                </p>
            </div>
        </div>
    
    </div>
      <div class="div-elmt-service-m-3 div-elmt">
            <img class="elmt-service-m-3" src="{{ asset('assets/img/Services_management_de_projet/pilotage.png') }}" />
        </div>
   <div class="pilotage-container">
    <div class="div-block-key">
        <div class="div-block-key-title">
            <h1 class="block-key-title">
                Coordination
            </h1>
            <img
                class="img-block-key-title"
                src="{{ asset('assets/img/Services_management_de_projet/fleche_accordeon.svg') }}"/>
        </div>
        <div class="div-block-key-text slide-bottom" >
            <div class="block-key-text">
                <p class="pilotage-text-intro">Toute réalisation dans le domaine du bâtiment est
                    le résultat d’actions combinées de nombreux intervenants spécialisés dans leur
                    domaine, tels que l’architecte, les bureaux d’ingénieurs, les organismes agréés,
                    les organismes de contrôle, le coordinateur sécurité et santé, les entreprises,
                    …</p>

                <p class="pilotage-text-span">La coordination consiste à organiser et à
                    harmoniser, dans le temps et dans l’espace, les actions de ces différents
                    intervenants selon le stade d’avancement du projet, depuis son démarrage jusqu’à
                    son parfait achèvement.<br/><br/>Dans
                    cette mission, HBH est le véritable moteur et le chef d’orchestre du projet et
                    devient l’interlocuteur privilégié et de confiance du Maître d’Ouvrage.<br/><br/>Sur
                    base du planning, elle gère les interfaces, veille à la parfaite circulation des
                    informations et aide aux prises de décisions aux moments opportuns.
                    <br/>De façon générale, HBH déclenche et suit toutes les actions dont le but est
                        le strict respect de la qualité, des coûts et des délais.</p>
            </div>
        </div>

    </div>
    <div class="div-block-key">
        <div class="div-block-key-title">
            <h1 class="block-key-title">
                Planification
            </h1>
            <img
                class="img-block-key-title"
                src="{{ asset('assets/img/Services_management_de_projet/fleche_accordeon.svg') }}"/>
        </div>
        <div class="div-block-key-text slide-bottom">
            <div class="block-key-text">
                <p class="pilotage-text-intro">Toute réalisation dans le domaine du bâtiment est
                    le résultat d’actions combinées de nombreux intervenants spécialisés dans leur
                    domaine, tels que l’architecte, les bureaux d’ingénieurs, les organismes agréés,
                    les organismes de contrôle, le coordinateur sécurité et santé, les entreprises,
                    …</p>

                <p class="pilotage-text-span">La coordination consiste à organiser et à
                    harmoniser, dans le temps et dans l’espace, les actions de ces différents
                    intervenants selon le stade d’avancement du projet, depuis son démarrage jusqu’à
                    son parfait achèvement.<br/><br/>Dans
                    cette mission, HBH est le véritable moteur et le chef d’orchestre du projet et
                    devient l’interlocuteur privilégié et de confiance du Maître d’Ouvrage.<br/><br/>Sur
                    base du planning, elle gère les interfaces, veille à la parfaite circulation des
                    informations et aide aux prises de décisions aux moments opportuns.
                    <br/>De façon générale, HBH déclenche et suit toutes les actions dont le but est
                        le strict respect de la qualité, des coûts et des délais.</p>
            </div>
        </div>

    </div>
    <div class="div-block-key margin-10">
        <div class="div-block-key-title">
            <h1 class="block-key-title">
                Gestion financière
            </h1>
            <img
                class="img-block-key-title"
                src="{{ asset('assets/img/Services_management_de_projet/fleche_accordeon.svg') }}"/>
        </div>
        <div class="div-block-key-text slide-bottom">
            <div class="block-key-text">
                <p class="pilotage-text-intro">Toute réalisation dans le domaine du bâtiment est
                    le résultat d’actions combinées de nombreux intervenants spécialisés dans leur
                    domaine, tels que l’architecte, les bureaux d’ingénieurs, les organismes agréés,
                    les organismes de contrôle, le coordinateur sécurité et santé, les entreprises,
                    …</p>

                <p class="pilotage-text-span">La coordination consiste à organiser et à
                    harmoniser, dans le temps et dans l’espace, les actions de ces différents
                    intervenants selon le stade d’avancement du projet, depuis son démarrage jusqu’à
                    son parfait achèvement.<br/><br/>Dans
                    cette mission, HBH est le véritable moteur et le chef d’orchestre du projet et
                    devient l’interlocuteur privilégié et de confiance du Maître d’Ouvrage.<br/><br/>Sur
                    base du planning, elle gère les interfaces, veille à la parfaite circulation des
                    informations et aide aux prises de décisions aux moments opportuns.
                    <br/>De façon générale, HBH déclenche et suit toutes les actions dont le but est
                        le strict respect de la qualité, des coûts et des délais.</p>
            </div>
        </div>

    </div>

</div>
<div class="div-elmt-ouvrage"></div>
<div class="container-ouvrage">
    <div class="service-ouvrage-div">
        <h1 class="title-service-ouvrage">Assistance au Maître d’Ouvrage</h1>
        <div class="text-service-ouvrage"><span class="sous-txt-ouvrage">HBH peut assister et conseiller tout Maître d'Ouvrage lors des différentes étapes des projets de construction, indépendamment
        du principe organisationnel choisi.</span><br/><br/>
        De façon générale, HBH apporte son expertise et son objectivité pour l'aider à faire les choix optimaux.
        </div>
    </div>
    <div class="img-service-ouvrage-div">
       <img class="img-service-ouvrage img-service-ouvrage-1 no-active-img" id="1" style="display:none" src="{{ asset('assets/img/Services_management_de_projet/phase_initiale_simple.svg') }}"/>
       <img class="img-service-ouvrage img-service-ouvrage-1 active-img" id="1"src="{{ asset('assets/img/Services_management_de_projet/phase_initiale.svg') }}"/>
       <img class="img-service-ouvrage img-service-ouvrage-2  no-active-img" id="2" src="{{ asset('assets/img/Services_management_de_projet/phase_de_conception.svg') }}"/>
       <img class="img-service-ouvrage img-service-ouvrage-2 active-img" id="2"style="display:none" src="{{ asset('assets/img/Services_management_de_projet/phase_de_conception_actif.svg') }}"/>
       <img class="img-service-ouvrage img-service-ouvrage-3 no-active-img" id="3" src="{{ asset('assets/img/Services_management_de_projet/phase_de_realisation.svg') }}"/>
       <img class="img-service-ouvrage img-service-ouvrage-3 active-img" id="3" style="display:none" src="{{ asset('assets/img/Services_management_de_projet/phase_de_realisation_actif.svg') }}"/>
       <img class="img-service-ouvrage img-service-ouvrage-4 no-active-img" id="4" src="{{ asset('assets/img/Services_management_de_projet/phase_de_conformite.svg') }}"/>
       <img class="img-service-ouvrage img-service-ouvrage-4 active-img" id="4"style="display:none" src="{{ asset('assets/img/Services_management_de_projet/phase_de_conformite_actif.svg') }}"/>    
    </div>
    <div class="service-ouvrage-div">
<div class="text-service-ouvrage other-txt-ouvrage">
         Assistance à la mise au point de l’organisation du projet.<br />Assistance lors de l’élaboration des documents
  contractuels <br />(définition des missions, des responsabilités, des honoraires, …).
        </div>


    </div>


</div>
<div class="div-elmt-ouvrage-2"></div>
    <div class="div-elmt-service-m-5 div-elmt">
            <img class="elmt-service-m-5 slide-in-left" src="{{ asset('assets/img/Services_management_de_projet/element-graphic6.svg') }}" />
        </div>
            <div class="div-elmt-service-m-6 div-elmt">
            <img class="elmt-service-m-6" src="{{ asset('assets/img/Services_management_de_projet/maitrise_des_quantites_qualites.png') }}" />
        </div>
                    <div class="div-elmt-service-m-7 div-elmt">
            <img class="elmt-service-m-7" src="{{ asset('assets/img/Services_management_de_projet/element-graphic7.svg') }}" />
        </div>
    <div class="div-pilotage div-pilotage-other margin-10 div-matrise" >
        <div class="div-pilotage-title">
            <h1 class="pilotage-title">Maîtrise des quantités et des qualités</h1>
        </div>
        <div class="div-pilotage-text">
            <div class="pilotage-text">
                <p class="pilotage-text-intro ">
                        Contrôle de la conformité des travaux et des qualités mises en œuvre
                
               
                <p class="pilotage-text-span margin-10">
                    Dans la mission de maîtrise des quantités, le Maître d’Ouvrage confie à HBH le contrôle des quantités mises en
    œuvre par les entreprises par rapport aux quantités prévues dans leurs commandes respectives.
                </p>
            </div>
        </div>
    
    </div>
    <div class="elmt-service-m-8"></div>
    <div class="div-last-info ">
        <div class="div-last-info-title"><h1 class="title-last-info">Les services HBH, c'est aussi...</h1></div>
        <div class="div-last-info-propos">
            <div class="last-info-propos info-propos-1 "><a href="{{ path('services_securite_sante') }}"><h1 class="info-propos">Sécurité & santé </h1></a></div>
            <div class="last-info-propos info-propos-2 "><a href="{{ path('services_espace_collaboratif') }}"><h1 class="info-propos">Espace collaborative </h1></a></div>
            <div class="last-info-propos info-propos-3 " ><a href="{{ path('services_labellisation') }}"><h1 class="info-propos">Labellisation </h1></a></div>
        </div>
    </div>

{% endblock %}