{% extends 'base.html.twig' %}

{% block body %}
<div class="main-div main-sante" style="height:  660pxpx;">
     
        <div class="div-sante">
            <div class="inner-sante">
            <div class="service-service-title-div">
                <p class="service-service-title">NOS SERVICES</p>
            </div>
            <div class="service-title-div">
                <h1 class="service-title">Sécurité <br/>& Santé</h1>
            </div>
            <div class="sante-text-div">
                <p class="service-text">La transposition en droit luxembourgeois de “la directive Européenne 89/391/CEE concernant la mise en œuvre de mesures visant à promouvoir l’amélioration de la sécurité et de la santé des travailleurs au travail” et les règlements qui en découlent imposent au Maître d’Ouvrage la désignation d’un coordinateur sécurité & santé pour son chantier et ce dès la phase de conception.
Lire plus…</p>
            </div>
            <div class="service-key-div">
                <p class="service-key" id="div-coordinateur-title">Coordinateur sécurité et santé</p>
                <p class="service-key" id="div-securite">Conseiller en sécurité</p>
            </div>
        
        </div>
        </div>
           <div class="main-div" style="width: 30%">
        <div class="service-man-img" style="background-image: url(assets/img/Services_sécurité_santé/fond-services2.png);">
            <img class="img-home-main"
                style="width:100%;";
                src="{{ asset('assets/img/Services_sécurité_santé/securite_sante_casque.png') }}">
                </div>
        </div>
        </div>
        <div class="div-elmt-sante-1 div-elmt">
            <img class="elmt-sante-1" src="{{ asset('assets/img/Services_sécurité_santé/coordinateur_securite_sante.png')}}">
        </div>
        <div class="div-elmt-sante-2 div-elmt">
            <img class="elmt-sante-2" src="{{ asset('assets/img/Services_sécurité_santé/element-graphic8.svg')}}">
        </div>
        <div class="div-coordinateur">
        <div class="div-pilotage-title div-coordinateur-title">
            <h1 class="pilotage-title">Coordinateur
sécurité & santé</h1>
        </div>
        <div class="div-pilotage-text">
            <div class="pilotage-text">
                <p class="pilotage-text-intro">
                        Prendre en compte tous les types de risques liés à la co-activité, à l’interactivité et à l’environnement du chantier.
                
               
                <p class="pilotage-text-span">
                    Le 4 novembre 1997, la coordination sécurité sur les chantiers devient obligatoire au Grand-Duché de Luxembourg et rend le Maître d’Ouvrage juridiquement responsable d’éventuels accidents sur chantier.  
Comptant depuis sa création en 1988 des ingénieurs spécialisés en la matière, HBH a donc été prête à assurer cette mission dès la mise en application de la loi.<br/><br/>La mission de coordinateur sécurité et santé se déroule au cours des deux phases principales de construction.  Ces missions peuvent faire l’objet de contrats séparés :
                </p>
            </div>
        </div>
    
    </div>
     <div class="pilotage-container">
    <div class="div-block-key">
        <div class="div-block-key-title">
            <h1 class="block-key-title">
                En phase de conception
            </h1>
            <img
                class="img-block-key-title"
                src="{{ asset('assets/img/Services_management_de_projet/fleche_accordeon.svg') }}"/>
        </div>
        <div class="div-block-key-text slide-bottom" >
            <div class="block-key-text">
                <p class="pilotage-text-intro">Toute réalisation dans le domaine du bâtiment est
                    le résultat d’actions combinées de nombreux intervenants spécialisés dans leur
                    domaine, tels que l’architecte, les bureaux d’ingénieurs, les organismes agréés,
                    les organismes de contrôle, le coordinateur sécurité et santé, les entreprises,
                    …</p>

                <p class="pilotage-text-span">La coordination consiste à organiser et à
                    harmoniser, dans le temps et dans l’espace, les actions de ces différents
                    intervenants selon le stade d’avancement du projet, depuis son démarrage jusqu’à
                    son parfait achèvement.<br/><br/>Dans
                    cette mission, HBH est le véritable moteur et le chef d’orchestre du projet et
                    devient l’interlocuteur privilégié et de confiance du Maître d’Ouvrage.<br/><br/>Sur
                    base du planning, elle gère les interfaces, veille à la parfaite circulation des
                    informations et aide aux prises de décisions aux moments opportuns.
                    <br/>De façon générale, HBH déclenche et suit toutes les actions dont le but est
                        le strict respect de la qualité, des coûts et des délais.</p>
            </div>
        </div>

    </div>
    <div class="div-block-key">
        <div class="div-block-key-title">
            <h1 class="block-key-title">
                En phase de réalisation
            </h1>
            <img
                class="img-block-key-title"
                src="{{ asset('assets/img/Services_management_de_projet/fleche_accordeon.svg') }}"/>
        </div>
        <div class="div-block-key-text slide-bottom">
            <div class="block-key-text">
                <p class="pilotage-text-intro">Toute réalisation dans le domaine du bâtiment est
                    le résultat d’actions combinées de nombreux intervenants spécialisés dans leur
                    domaine, tels que l’architecte, les bureaux d’ingénieurs, les organismes agréés,
                    les organismes de contrôle, le coordinateur sécurité et santé, les entreprises,
                    …</p>

                <p class="pilotage-text-span">La coordination consiste à organiser et à
                    harmoniser, dans le temps et dans l’espace, les actions de ces différents
                    intervenants selon le stade d’avancement du projet, depuis son démarrage jusqu’à
                    son parfait achèvement.<br/><br/>Dans
                    cette mission, HBH est le véritable moteur et le chef d’orchestre du projet et
                    devient l’interlocuteur privilégié et de confiance du Maître d’Ouvrage.<br/><br/>Sur
                    base du planning, elle gère les interfaces, veille à la parfaite circulation des
                    informations et aide aux prises de décisions aux moments opportuns.
                    <br/>De façon générale, HBH déclenche et suit toutes les actions dont le but est
                        le strict respect de la qualité, des coûts et des délais.</p>
            </div>
        </div>

    </div>
  

</div>
<div class="div-elmt-secu"></div>
<div class="div-securite">
    <div class="div-securite-container">
    <div class="div-securite-title">
            <h1 class="securite-title">
                                Conseiller <br/>
en sécurité
            </h1>
         
        </div>
        <div class="div-securite-text">
            <div class="securite-text">
                <p class="sous-txt-ouvrage">La conception, la réalisation et la mise en place de la gestion de crise et des procédures d’urgence, de continuité d’activité, et de redémarrage d’activité.</p>

                <p class="securite-text-span">Le conseiller en sécurité a pour mission la conception, la réalisation et la mise en place de la gestion de crise et des procédures d’urgence (emergency response planning), de continuité d’activité (business continuity planning) et de redémarrage d’activité (resumption planning).
Lire plus…</p>
            </div>
        </div>
        </div>
        <div class="elmt-sante-3"></div>
</div>

 <div class="no-margin div-last-info main-div">
        <div class="div-last-info-title"><h1 class="title-last-info">Les services HBH, c'est aussi...</h1></div>
            <div class="div-last-info-propos">
            <div class="last-info-propos info-propos-1 "><a href="{{ path('services_management_projet') }}"><h1 class="info-propos">Management de projets </h1></a></div>
            <div class="last-info-propos info-propos-2 "><a href="{{ path('services_espace_collaboratif') }}"><h1 class="info-propos">Espace collaboratif </h1></a></div>
            <div class="last-info-propos info-propos-3 " ><a href="{{ path('services_labellisation') }}"><h1 class="info-propos">Labellisation </h1></a></div>
        </div>
    </div>
{% endblock %}