{% extends 'base.html.twig' %}

{% block body %}
<div class="main-div main-sante" style="height:  660pxpx;">

           <div class="main-div no-desktop div-mob-img-label" >
        <div class="service-label-man-img" style="background-image: url(assets/img/Services_securite_sante/fond-services2.png);">
            <img class="img-home-main "
                style="width:80%;";
                src="{{ asset('assets/img/Services_labellisation/labellisation.png') }}">
                </div>
        </div>
        <div class="div-sante div-lbl-mob">
            <div class="inner-sante">
            <div class="service-service-title-div">
                <p class="service-service-title">NOS SERVICES</p>
            </div>
            <div class="service-title-div">
                <h1 class="service-title">Labellisation</h1>
            </div>
            <div class="sante-text-div">
                <p class="service-text">Depuis 2019, HBH assiste les investisseurs et les Maîtres d’Ouvrage pour labelliser leurs projets en DGNB, la norme de référence allemande en construction durable.</p>
            </div>
            <div class="service-key-div">
            <div class="div-service-key-img">
                    <img class="service-key-img" src="{{ asset('assets/img/Services_labellisation/dgnb.png') }}" />
                </div>
            </div>
        
        </div>
        </div>

           <div class="main-div no-mob" style="width: 30%">
        <div class="service-label-man-img" style="background-image: url(assets/img/Services_securite_sante/fond-services2.png);">
            <img class="img-home-main img-home-main-lbl"
                style="width:80%;";
                src="{{ asset('assets/img/Services_labellisation/labellisation.png') }}">
                </div>
        </div>
        </div>
        </div>
         <div class="div-elmt-label-2 div-elmt">
            <img src="{{ asset('assets/img/Services_labellisation/label_dgnb.png') }}"  class="elmt-label-2"/>
        </div>
        <div class="div-elmt-label-1 div-elmt">
            <img src="{{ asset('assets/img/Services_labellisation/element-graphic11.svg') }}"  class="elmt-label-1"/>
        </div>
        
                <div class="main-div div-dgnb">
                    <div class="div-dgnb-title">
                        <h1 class="dgnb-title">Label DGNB</h1>
                    </div>
                    <div class="div-dgnb-txt">
                        <p class="dgnb-txt">Basé sur les trois piliers d’un monde durable, le respect de l’environnement, la rentabilité économique et
  l’efficacité sociale, <br />le label DGNB est une source de qualité reconnue pour un projet <br />de construction :</p>
                    </div>
                    <div class="div-dgnb-li">
                        <ol class="ol-dgnb">
                            <li class="li-dgnb">En terme de confort pour les utilisateurs, et donc de facilité à louer des surfaces,</li>
                            <li class="li-dgnb">En terme de facilité d’exploitation et donc aussi d’économie en exploitation,</li>
                            <li class="li-dgnb">En terme d’efficacité écologique et d’image pour le projet,</li>
                            <li class="li-dgnb">Mais aussi en terme de qualités techniques, d’insertion du projet
dans le monde du recyclé et du cycle de vie des matériaux
(cradle to cradle, …),</li>
                            <li class="li-dgnb">En terme de bonnes pratiques et d’insertion sociale du projet dans son environnement par et pour les utilisateurs futurs.</li>
                        </ol>

                    </div>
        
        </div>
        <div class="main-div" style="text-align: center">
            <img class="div-label-schema no-mob" src="{{ asset('assets/img/Services_labellisation/schema_label.png') }}" />
            <img class="div-label-schema no-desktop" src="{{ asset('assets/img/Services_labellisation/schema_sans_texte.png') }}" />

            <p class="p-schema p-schema-1 no-desktop">Satisfaire les besoins en santé,<br/> éducation, emploi, habitat, prévention<br/> de l'exclusion, équité </p>
            <p class="p-schema p-schema-2 no-desktop">Créer des richesses et améliorer les <br/> conditions de vie matérielles</p>
            <p class="p-schema p-schema-3 no-desktop"> Préserver la diversité des espèces et <br/>les ressources naturelles et <br/> énergetiques </p>
        </div>
          <div class="div-elmt-label-3 div-elmt">
            <img src="{{ asset('assets/img/Services_labellisation/element-graphic12.svg') }}"  class="elmt-label-3"/>
        </div>
        <div class="main-div section-expertise ">
        <div class="div-expertise">
                <div class="div-dgnb-title expertise-title">
                        <h1 class="dgnb-title">Notre expertise</h1>
                    </div>
                    <div class="div-dgnb-txt">
                        <p class="dgnb-txt expertise-txt">Associé à un auditeur agréé en Allemagne, nous vous proposons une assistance complète depuis la faisabilité du projet, pour définit vos objectifs (bronze, argent, or ou platine), jusqu’à l’obtention du label après livraison du bâtiment.</p>
                    <p class="service-text">Sur base du disque de suivi général (ci-après) nous pouvons vous fournir :</p>
                    </div>
                    <div class="div-dgnb-li li-div-expertise">
                        <ol class="ol-dgnb">
                            <li class="li-dgnb li-expertise">Un suivi régulier des objectifs, pour s’assurer du label final, depuis la phase études jusqu’à la livraison du projet,</li>
                            <li class="li-dgnb li-expertise">L’ensemble des études d’expertise nécessaires aux différents critères de manière non-exhaustive : études Lice Cycle Analysis pour le projet (LCA), Life Cycle Cost (LCC), études acoustiques, énergétiques, de circulation, de fonctionnalités, de matériaux, …</li>
                            <li class="li-dgnb li-expertise">La gestion du contact et de l’accord final avec les services centraux de labellisation de la DGNB à Stuttgart (organisme certificateur).</li>
                            </ol>

                    </div>
        </div>
        </div>
        <div class="main-div ">
            <div class="div-vision">
                    <div class="div-dgnb-title ">
                        <h1 class="dgnb-title">Une vision d’excellence</h1>
                    </div>
                    <div class="div-dgnb-txt">
                        <p class="dgnb-txt expertise-txt">Dernier-né des grandes organisations de certification environnementale,
                         le label DGNB<br/> est une opportunité pour le Maître d’Ouvrage
                         de pousser son projet vers l’excellence<br/> environnementale et la durabilité économique, sociale et écologique.
                         N’hésitez pas à nous<br/> consulter pour plus d’informations.</p>
                    </div>
            </div>
        
        </div>
        <div class="elmt-label-4"></div>
 <div class="div-last-info main-div">
        <div class="div-last-info-title"><h1 class="title-last-info">Les services HBH, c'est aussi...</h1></div>
        <div class="div-last-info-propos">
             <div class="last-info-propos info-propos-1 "><a href="{{ path('services_management_projet') }}"><h1 class="info-propos">Management de projets </h1></a></div>
             <div class="last-info-propos info-propos-2 "><a href="{{ path('services_securite_sante') }}"><h1 class="info-propos">Sécurité & santé </h1></a></div>
            <div class="last-info-propos info-propos-3 "><a href="{{ path('services_espace_collaboratif') }}"><h1 class="info-propos">Espace collaboratif </h1></a></div>
            
        </div>
    </div>
{% endblock %}